/constant$eAccept.class
/constant$eBoatType.class
/constant$eBuildingType.class
/constant$eGender.class
/constant$eJob.class
/constant$eLandType.class
/constant$eLongTerm.class
/constant$eOnTheSeaType.class
/constant$eSpecialType.class
/constant$ecarType.class
/constant.class
